In [1]:
popcsv <- read.csv("worldbankpop.csv",stringsAsFactors=FALSE)

In [2]:
colnames(popcsv) <- c("Series","Code","Country","CCode","YR2016","YR2017","YR2018","YR2019","YR2020")
popcsv[,5:9] <- sapply(popcsv[,5:9],as.numeric)

Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"

In [3]:
unique(popcsv$Code)

[1] "EN.POP.DNST"       "SP.URB.TOTL.IN.ZS" "SP.POP.TOTL"
[4] ""

In [4]:
summary(popcsv)

    Series              Code             Country             CCode
 Length:656         Length:656         Length:656         Length:656
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




     YR2016              YR2017              YR2018
 Min.   :0.000e+00   Min.   :0.000e+00   Min.   :0.000e+00
 1st Qu.:5.500e+01   1st Qu.:5.500e+01   1st Qu.:5.600e+01
 Median :1.000e+02   Median :1.000e+02   Median :1.000e+02
 Mean   :1.149e+07   Mean   :1.162e+07   Mean   :1.184e+07
 3rd Qu.:7.774e+05   3rd Qu.:7.849e+05   3rd Qu.:8.579e+05
 Max.   :1.379e+09   Max.   :1.386e+09   Max.   :1.393e+09
 NA's   :12          NA's   :12          NA's   :17
     YR2019              YR2020
 Min.   :1.300e+01   Min.   : NA
 1st Qu.:6.300e+01   1st Qu.: NA
 Median :5.873e+03   Median : NA
 Mean   :1.770e+07   Mean   :NaN
 3rd Qu.:6.603e+06   3rd Qu.: NA
 Max.   :1.398e+09   Max.   : NA
 NA's   :224         NA's   :656

In [5]:
popdens <- popcsv[popcsv$Code == "EN.POP.DNST",]
popdens <- popdens[,-c(1,2,4,5,6,8,9)]
popurb <- popcsv[popcsv$Code == "SP.URB.TOTL.IN.ZS",]
popurb <- popurb[,-c(1,2,4,5,6,8,9)]
poptot <- popcsv[popcsv$Code == "SP.POP.TOTL",]
poptot <- poptot[,-c(1,2,4,5,6,8,9)]

In [6]:
summary(popdens$YR2018)
head(popdens)
write.csv(popdens, "PopulationDensity2018.csv")

     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.      NA's
    0.136    37.509    92.056   361.279   219.821 20777.500         8

  Country        YR2018
1 Afghanistan     56.93776
2 Albania        104.61226
3 Algeria         17.73008
4 American Samoa 277.32500
5 Andorra        163.84255
6 Angola          24.71305

In [7]:
summary(popurb$YR2018)
head(popurb)
write.csv(popurb, "PopulationUrbanPercent2018.csv")

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  13.03   42.14   61.87   60.90   80.41  100.00       3

    Country        YR2018
218 Afghanistan    25.495
219 Albania        60.319
220 Algeria        72.629
221 American Samoa 87.153
222 Andorra        88.062
223 Angola         65.514

In [8]:
summary(poptot$YR2018)
head(poptot)
write.csv(poptot, "PopulationTotal2018.csv")

     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.      NA's
1.151e+04 7.729e+05 6.572e+06 3.502e+07 2.500e+07 1.393e+09         1

    Country        YR2018
435 Afghanistan    37172386
436 Albania         2866376
437 Algeria        42228429
438 American Samoa    55465
439 Andorra           77006
440 Angola         30809762

In [11]:
library(ggplot2)

In [15]:
history(popdens$YR2018)

ERROR: Error in .External2(C_savehistory, file): no history available to save